body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    margin: 20px auto;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #007BFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
}

.card.flipped {
    background-color: #28A745; /* Verde para acertos */
}

.card.error {
    background-color: #ff0000; /* Vermelho para erros */
    color: black;
}

.controls {
    margin-top: 20px;
}
